@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}


body {
    background-image: linear-gradient(to right, #0D0202, #594636, #260401, #0D0202);
}

main {
    background-color: white;
    width: 700px;
    padding: 10px;
    margin: auto;
    border-radius: 25px; /* BORDA ARREDONDADA */
    box-shadow: 10px 10px 25px rgba(140, 97, 93, 0.678)
}

h1{
    color: #6e838c;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(70, 84, 90, 0.736);
}

h2 {
    color: #7b715d;
    text-shadow: 1px 1px 1px #6b614bd2;
}


p {
    text-align: justify;
}
